<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/wsl.css" />
		<title>II Workshop de Software Livre :: {% block titulo %} Página Inicial {% endblock %}</title>
	</head>
	<body>
		<div id="wsl">
			<div id="header">
				<div id="title">
					<h1>II Workshop de Software Livre</h1>
				</div>
				<div id="horarios">
					<div id="hr-horarios">
						<ul>
							<li> 14:00 </li>
							<li> 17:00 </li>
							<li> 18:00 </li>
							<li> 14:00 </li>
						</ul>
					</div>
					<table>
						<tr>
							<td class="data-03-21"> 21/03 </td>
							<td class="data-03-22"> 22/03 </td>
							<td class="data-03-23"> 23/03 </td>
							<td class="data-03-24"> 24/03 </td>
							<td class="data-03-25"> 25/03 </td>
							<td class="data-03-28"> 28/03 </td>
							<td class="data-03-29"> 29/03 </td>
							<td class="data-03-30"> 30/03 </td>
							<td class="data-03-31"> 31/03 </td>
							<td class="data-04-01"> 01/04 </td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="hr-blender"><a href="/minicurso/blender"> BLENDER </a></div>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/python"> PYTHON </a></div>
								<div class="hr-palestrante"><a href="/palestrante/marcel-caraciolo"> Marcel </a></div>
							</td>
							<td>
								<div class="hr-palestrante"> <a href="/palestrante/eraldo-guerra"> Eraldo </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/linux-basico"> LINUX </a></div>
								<div class="hr-palestrante"><a href="/palestrante/adriano-melo"> Adriano </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/django"> DJANGO </a></div>
								<div class="hr-palestrante"><a href="/palestrante/brunno-gomes"> Brunno </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/ruby"> RUBY </a></div>
								<div class="hr-palestrante"><a href="/palestrante/laison-bandeira"> Lailson </a></div>
								<div class="hr-palestrante"><a href="/palestrante/guilherme-carvalho"> Guilherme </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/qtquick"> QTQUICK </a></div>
								<div class="hr-palestrante"><a href="/palestrante/daker-fernandes"> Daker </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/vim-git"> VIM e GIT </a></div>
								<div class="hr-palestrante"><a href="/palestrante/dayvid-victor"> Dayvid </a></div>
								<div class="hr-palestrante"><a href="/palestrante/thyago-porpino"> Thyago </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/linux-avancado"> LINUX </a></div>
								<div class="hr-palestrante"><a href="/palestrante/angelo-brito"> Angelo </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/html5"> HTML5 </a></div>
								<div class="hr-palestrante"><a href="/palestrante/rodrigo-muniz"> Rodrigo </a></div>
							</td>
							<td>
								<div class="hr-14"></div>
								<div class="hr-curso"><a href="/minicurso/pygame"> PYGAME </a></div>
								<div class="hr-palestrante"><a href="/palestrante/johann-gomes"> Johann </a></div>
								<div class="hr-palestrante"><a href="/palestrante/fernanda-araujo"> Fernanda </a></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="content-box">
				<div id="menu-esquerdo">
					<a href="/">
						<div id="me-minicursos">Mini-cursos</div>
					</a>
					<a href="/pagina/palestras">
						<div id="me-palestras">Palestras</div>
					</a>
				</div>
				<div id="content">
					{% block content %} {% endblock %}
				</div>
			</div>
			<div id="footer">
				<div id="social-media">
					<div class="sm-icon">
						<a href="http://twitter.com/cinlug">
							<img src="/static/img/btn-twitter.png" /></a>
					</div>
					<div class="sm-icon">
						<a href="http://www.facebook.com/event.php?eid=146639435399134">
							<img src="/static/img/btn-facebook.png" /></a>
					</div>
				</div>
				<div id="footer-menu">
					<ul>
						<li><a href="/pagina/contato"><div class="foo-contato">Contato</div></a></li>
						<li><a href="/pagina/patrocinadores"><div class="foo-patrocinadores">Patrocinadores</div></a></li>
						<li><a href="/pagina/organizadores"><div class="foo-organizadores">Organizadores</div></a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
