{% extends "esqueleto.html" %}

{% block content %}
	<div class="txt-box">
		<h1>#WSL</h1>
                <ul>
                    <li> 4 palestras </li>
                    <li> 10 minicursos </li> 
                    <li> 50 lugares (por minicurso) </li>                 
                    <li> Incontável troca de conhecimento </li>
                    <li> 4 palestras </li>
                    <li> Vai perder? </li>
                </ul>
		<h3>Mais Informações </h3>
                <p> Dias:21/03 a 02/04</p>
                <p> Mini-cursos: Python, Blender, Linux Básico, Django, QTQuick, Ruby, Vim e Git, Linux Avançado, HTM5 e PyGame</p>
                <p> Local: Centro de Informática da UFPE</p>
                <p> Inscrição: Não há. Basta comparecer no dia que quiser.</p>
                <p> Custo: Nenhum. O evento é GRATUITO! <br/></p>
                <p> Obs: como não é preciso fazer inscrição, não garantimos que haverá computador para todos. A prioridade será por ordem de chegada. <br/></p>
		<p> <strong>Para acompanhar as novidades do evento, siga do twitter do CInLUG (@cinlug) ou assine a lista de discussão no Google Groups (cinlug@googlegroups.com.br). </strong></p>
	</div>
{% endblock %}
