body {
	background: url(/static/img/wood.jpg) top repeat #000;
}
#wsl {
	font-family:"Trebuchet MS", arial;
	color: white;
	width: 960px;
	height: 765px;
	margin: 0px auto;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#title {
	text-indent: -5000px;
	height: 50px;
	width: 450px;
	margin: 0px auto;
	margin-top: 30px;
	background: url(/static/img/txt-wsl.png) center no-repeat;
}
#horarios {
	margin-top: 30px;
	height: 110px;
}
#horarios table{
	float:left;
	width: 840px;
}
#horarios td {
	text-align: center;
	width: 80px;

}
#hr-horarios {
	float:left;
	margin-top:35px;
	width: 80px;
	background: url(/static/img/txt-horarios.png) no-repeat right;
	text-indent: -5000px;
}
.hr-curso, .hr-palestrante{
	margin: 6px 0px;
	text-align: right;
}
.hr-blender {
	margin:7px 0px 0px;
	text-align:right;
}
.hr-curso a, .hr-blender a {
	background: #67917a;
	font-size: 14px;
	padding: 0px 5px;
}
.hr-palestrante a {
	background: #B8AF03;
	font-size: 12px;
	padding: 1px 4px;
}
.data-03-21, .data-03-22, .data-03-23, .data-03-24, .data-03-25, .data-03-28, .data-03-29, .data-03-30, .data-03-31, .data-04-01 {
	width: 65px;
	height: 30px;
	text-indent: -5000px;
}
.data-03-21 {background: url(/static/img/txt-21.03.png) center no-repeat; }
.data-03-22 {background: url(/static/img/txt-22.03.png) center no-repeat; }
.data-03-23 {background: url(/static/img/txt-23.03.png) center no-repeat; }
.data-03-24 {background: url(/static/img/txt-24.03.png) center no-repeat; }
.data-03-25 {background: url(/static/img/txt-25.03.png) center no-repeat; }
.data-03-28 {background: url(/static/img/txt-28.03.png) center no-repeat; }
.data-03-29 {background: url(/static/img/txt-29.03.png) center no-repeat; }
.data-03-30 {background: url(/static/img/txt-30.03.png) center no-repeat; }
.data-03-31 {background: url(/static/img/txt-31.03.png) center no-repeat; }
.data-04-01 {background: url(/static/img/txt-01.04.png) center no-repeat; }

#content-box {
	width: 970px;
	height: 440px;
	background: url(/static/img/bg-conteudo.png) center no-repeat;
	margin: 0px auto;
	padding-top:22px;
}
#content {
	width: 900px;
	height: 417px;
	margin: 0px auto;
	overflow: auto;
}
#content .txt-box {
	margin: 20px;
	color: #fff;
	font-weight:lighter;
}
#content .txt-box h1 {
	font-size: 24px;
}
#content .txt-box h2 {
	font-size: 18px;
}
#footer {
	width:100%;
	clear: both;
}
#footer li {
	display: inline;
}
#footer-menu div{
	float: left;
}
#footer-menu{
	float:right;
	margin-right:35px;
}
.foo-contato, .foo-patrocinadores, .foo-organizadores {
	text-indent: -5000px;
	margin: 3px;
	height: 23px;
}
.foo-contato {
	background: url(/static/img/btn-contato.png) no-repeat center;
	width: 69px;
}
.foo-patrocinadores {
	background: url(/static/img/btn-patrocinadores.png) no-repeat center;
	width: 121px;
}
.foo-organizadores {
	background: url(/static/img/btn-organizadores.png) no-repeat center;
	width: 115px;
}
#social-media {
	float:left;
	margin-left: 35px;
}
.sm-icon{
	width: 34px;
	height: 32px;
	float:left;
	margin-right: 5px;
}
#menu-esquerdo {
	width:23px;
	float:left;
}
#me-minicursos {
	text-indent: -5000px;
	width:23px;
	height:101px;
	background: url(/static/img/btn-mini-cursos.png) no-repeat right;
}
#me-palestras{
	text-indent: -5000px;
	width:23px;
	height:84px;
	background: url(/static/img/btn-palestras.png) no-repeat right;
}
