#wsl {
	font-family:arial;
	width: 960px;
	margin: 0px auto;
}
.mini-curso {
	width: 800px;
	height: 150px;
	margin: 0px auto;
}
.mini-curso .foto, .mini-curso .data, .mini-curso .mc {
	float: left;
	margin: 5px;
	height: 150px;
}
.mini-curso .foto {
	border: 8px solid #333;
	width: 150px;
}
.mini-curso .data {
	width: 40px;
}
.mini-curso .dia {
	font-size: 27px;
}
.mini-curso .mc {
	width: 540px;
}
